
#quickLinks {
	background-color:#BDB76B;
	padding:.4em;
	color:#000000;
}

#quickLinks p {
	font-style:italic;
}

nav ul {
	
	list-style-type:none;
	display:flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:center;
	font-size:1.4em;
}

nav ul a {
	color:#534424;
}

.animal {
	background-color:#ffffcc;
	color:#111111;
	border:1px solid green;
	margin:1em;
	padding:1em;
}

#speciesDiv {
	background-color:#000000;
	color:#ffffff;
	border:1px solid green;
	margin:1em;
	padding:1em;
}

#speciesDiv h3 {
	margin-left:0;
}

main {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}

#options {
	padding:1em;
	display:flex;
	flex-direction:row;
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Josefin Sans';	
}

h1 {
	margin:1em;
	text-align:center;
}
h1,h3 {
	
	margin-left:1em;
}

.btn {
	margin:.6em;
}

.EN, .EW, .EX, .CR {
	color:red;
}

.LC, .CD {
	color:green;
}

.NT, .VU {
	color:yellow;
}

.NE, .DD {
	color:grey;
}


