<h2>animals</h2>

<!-- add an animal -->
<div id="addAnimal" *ngIf="addingAnimal">
  <h3>add an animal</h3>
  <form>
    nickname: <input type="text" name="nickname" placeholder="nickname" [(ngModel)]="newAnimal.nickname"/><br />
    reason admitted: <input type="text" name="reason" placeholder="reason" [(ngModel)]="newAnimal.reason"/><br />
    note: <input type="text" name="note" placeholder="note" [(ngModel)]="newAnimal.note"/><br />
    lead level: <input type="number" name="bloodLead" placeholder="0.0" [(ngModel)]="newAnimal.bloodLead"/><br />
    species: <select [(ngModel)]="newAnimalSpeciesId" name="species">
      <option *ngFor='let s of species' value="{{s.id}}">{{s.name}}</option>
    </select><br>
    <input class="btn btn-dark m-1" type="submit" value="add animal" (click)="addAnimal(newAnimal,newAnimalSpeciesId)"/>
    <input class="btn btn-dark m-1" type="submit" value="cancel" (click)="addingAnimal=false"/>

  </form>
</div>

<!-- update an animal -->
<div id="updateAnimal" *ngIf="editAnimal!=null">
  <h3>update animal</h3>
  <form>
    nickname: <input type="text" name="nickname" [(ngModel)]="editAnimal.nickname"/><br>
    reason: <input type="text" name="reason" [(ngModel)]="editAnimal.reason"/><br>
    note: <input type="text" name="note" placeholder="note" [(ngModel)]="editAnimal.note"/><br />
    lead level: <input type="number" name="bloodLead" placeholder="0.0" [(ngModel)]="editAnimal.bloodLead"/><br />
    <button (click)="editAnimal=null" class="btn btn-dark m-1">cancel</button>
    <button *ngIf="editAnimal?.released===null" (click)="releaseAnimal(editAnimal)" class="btn btn-dark m-1">release</button>
    <button (click)="updateAnimal(editAnimal)" class="btn btn-dark m-1">save</button>
  </form>
</div>

<!-- show the details of an animal and either close or edit -->
<div id="viewAnimal" *ngIf="selectedAnimal && !editAnimal">
  <h3>animal detail</h3>
  <img [src]="selectedAnimal.species?.imageURL"/>
  <h4>{{selectedAnimal.nickname}}</h4>
  <p>tag: {{selectedAnimal.tag}}</p>
  <p>species: {{selectedAnimal.species?.name}}</p>
  <p [ngClass]="getClass(selectedAnimal)">conservation status: {{selectedAnimal.species?.conservationStatus?.status}}</p>
  <p>reason: {{selectedAnimal.reason}}</p>
  <p>note: {{selectedAnimal.note}}</p>
  <button (click)="displayAnimals()" class="btn btn-dark m-1">close</button>
  <button (click)="setEditAnimal()" class="btn btn-dark m-1">edit</button>
</div>

<!-- show table of all animals -->
<div id="animals" class="container-fluid" *ngIf="selectedAnimal==null && editAnimal==null && addingAnimal==false">
  <h3>animals</h3>
  <form>
    <button (click)="addingAnimal=true" class="btn btn-dark m-1">add animal</button>
  </form>
<table class="table table-striped">
  <tr>
    <th>select</th>
    <th>nickname</th>
    <th>reason</th>
    <th>species</th>
    <th>lead level</th>
    <th>admitted</th>
    <th>released</th>
  </tr>
<tr *ngFor="let animal of animals">
  <td><button class="btn btn-outline-dark" (click)="selectedAnimal=animal">&#8594;</button></td>
  <td>{{animal.nickname}}</td>
  <td>{{animal.reason}}</td>
  <td>{{animal.species?.name}}</td>
  <td> <p [ngClass]="getLeadClass(animal)">{{animal.bloodLead}}</p></td>
  <td>{{animal.arrived | date:'shortDate'}}</td>
  <td>{{animal.released | date:'shortDate'}}</td>
</tr>
</table>
</div>


