<div>
  <h2>frequently asked questions</h2>
  <h3>What to do if you find a sick or injured wild animal:</h3>
  <ul>
    <li>Examine the situation carefully - is the animal really sick or injured? Some animal species will behave oddly at different times of year or different times of their lives. Often letting some time pass will reveal a healthy animal that was doing something unexpected.</li>
    <li>Examine the environment carefully; is it possible and safe for anyone to attempt to rescue an animal? Sometimes, despite the best effort and intentions, an injured animal is just not accessible and unfortunately nothing can be done for them.</li>
    <li>Contact a permitted rehabilitator or rehabilitation center before attempting to handle the animal if possible.  They will be able to give you the best advice on what to do and what not to do if you decide to attempt rescue.</li>
  </ul>
</div>
